<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
    div.tooltip {	
        position: absolute;			
        text-align: center;			
        width: 60px;					
        height: 28px;					
        padding: 2px;				
        font: 12px sans-serif;		
        background: lightsteelblue;	
        border: 0px;		
        border-radius: 8px;			
        pointer-events: none;			
    }    
    </style>

    <script src="/static/fallback.min.js"></script>

    <script>
        fallback.load({
            bootstrapcss: [
                'https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css',
                '/static/bootstrap.min.css'
            ],
            jQuery: [
                'https://code.jquery.com/jquery-3.3.1.min.js',
                '/static/jquery-3.3.1.min.js'
            ],
            bootstrap: [
                'https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js',
                '/static/bootstrap.min.js',
            ],
            d3: [
                'https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js',
                '/static/d3.min.js',
            ]      
        });



        fallback.ready(function () {
            console.log("READY");
            // All of my libraries have finished loading
            // Execute my code that applies to all of my libraries here!

            // Define the div for the tooltip
            var div = d3.select("body").append("div")	
                .attr("class", "tooltip")				
                .style("opacity", 0);

            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 30, bottom: 30, left: 40};
            var width = 1600;
            var height = 600;

            var colours = [
                { 'name' : 'red'}
            ]
            
            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

            //NEW: data/all still returns the data, but now, behind the scenes, it will read it from a cached and gzipped 
            //  file. If that fie didn't exist, it will be generated, ad then the data will be returned.

            // get the data - using es6 promises
            var jsonPromise = d3.json("http://10.0.1.105:8081/data/all");

            jsonPromise.then(onJsonResolved, onJsonRejected);

            function onJsonResolved(d) {
                console.log("DATA Fetched. resolvedValue: " + d);
                
                // X axis: scale and draw:
                //TODO: pass in the domain min and max from the database
                var x = d3.scaleLinear()
                    .domain([100, 500])      //the range of the data
                    .range([0, width]);     //the size of the plot on screen

                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));
                
                // set the parameters for the histogram
                var histogram = d3.histogram()
                    .value(d => d)
                    .domain(x.domain())
                    .thresholds(400);
                
                var bins = [];
                overallLongestBar = 0;
                
                //populate all the bins and calc longest bar
                for (const [idx, item] of d.entries()) {
                    // And apply this function to data to get the bins
                    bins[idx] = histogram(item.data);
                    const longestBar = d3.max(bins[idx], y => y.length);
                    if (longestBar > overallLongestBar)
                    {
                        overallLongestBar = longestBar;
                    }
                }

                var y = d3.scaleLinear()
                        .range([height, 0])
                        .domain([0, overallLongestBar]);  

                svg.append("g")
                    .call(d3.axisLeft(y));


                for (const [idx, item] of bins.entries()) {
                    const carId = idx + 1;

                    // append the bar rectangles to the svg element
                    svg.selectAll("rectasfasfs")    //makes no difference what you put in the SelectAll(): https://www.d3-graph-gallery.com/graph/histogram_double.html
                        .data(bins[idx])
                        .enter()
                        .append("rect")
                            .attr("x", 1)
                            .attr("transform", function(i) { return "translate(" + x(i.x0) + "," + y(i.length) + ")"; })
                            .attr("width", function(i) { return x(i.x1) - x(i.x0); })
                            .attr("height", function(i) { return height - y(i.length); })
                            .attr("class", "carId" + carId)
                            .on("mouseover", function(i) {		
                                div.transition()		
                                    .duration(200)		
                                    .style("opacity", .9);		
                                div	.html("Value: " + i + "<br/>")	
                                    .style("left", (d3.event.pageX) + "px")		
                                    .style("top", (d3.event.pageY - 28) + "px");	
                                })					
                            .on("mouseout", function(d) {		
                                div.transition()		
                                    .duration(500)		
                                    .style("opacity", 0);	
                            });
                }
            }

        });

        function onJsonRejected(errData) {
            console.log("Error retreiving json data");
        }

    </script>

    <style>
        .carId1 {
            fill: rgb(155, 0, 0);
        }
        .carId2 {
            fill: rgb(8, 0, 155);
        }
        .carId3 {
            fill: rgb(10, 102, 2);
        }
        .carId4 {
            fill: rgb(201, 122, 4);
        }
        .carId5 {
            fill: rgb(140, 140, 140);
        }
        .carId6 {
            fill: rgb(255, 224, 51);
        } 
    </style>
    <title>CarId Plot All Pulses</title>
  </head>
  <body>
    


    <form>
        <div class="container">

            <h1>Plot all data</h1>
            <h2>blah</h2>

            <!-- Create a div where the graph will take place -->
            <div id="my_dataviz"></div>

        </div>
    </form>

  </body>
</html>
